Source: ros-hydro-nmea-gps-driver
Section: misc
Priority: extra
Maintainer: Eric Perko <eric@ericperko.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/nmea_gps_driver
Standards-Version: 3.9.2

Package: ros-hydro-nmea-gps-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-serial, ros-hydro-geometry-msgs, ros-hydro-message-runtime, ros-hydro-nmea-navsat-driver, ros-hydro-rospy, ros-hydro-sensor-msgs
Description: Package to parse NMEA strings and publish a very simple GPS messgae. Does not require the GPSD deamon.
